
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/layout/layout.cshtml";
}
<style>
    img {
        width: 55%;
        margin-left: 22%;
        margin-top: 5%;
    }
    h2{
        color:pink;
        margin-left:45%;
        font-family:Calibri;
        font-size:30px;
    }
</style>
<h2><b>Hoşgeldiniz, @Session["kullaniciadi"] </b></h2>
<img src="https://ak.picdn.net/shutterstock/videos/22848922/thumb/12.jpg" alt="Alternate Text" />

